<li>
	

	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button> --}}
{{title}}
{{id}}
{{link}}
{{__v}}
	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
